<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Post Saya - Flog by HafizhSyafiqh</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md shadow" style="background: #3591ae;">
        <div class="container"><a class="navbar-brand" href="#">Flog by HafizhSyafiqh</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Beranda</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tentang</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Masuk</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Daftar</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row" style="padding-top: 15px;">
                <div class="col-md-8" style="border-style: none;">
                    <div class="card border-info border rounded-0 shadow" style="border-style: solid;margin-bottom: 10px;">
                        <div class="card-body" style="padding: 0;">
                            <div style="margin-bottom: -10px;">
                                <div class="row">
                                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-2" style="padding-left: 38px;margin-top: 5px;margin-bottom: 5px;padding-top: 5px;padding-bottom: 4px;padding-right: 15px;"><img class="img-fluid border rounded-circle border-info" src="assets/img/Icon%20(512x512).png" width="100" height="100" style="padding-left: 0;padding-top: 0;width: 68px;height: 68px;margin-right: 0px;"></div>
                                    <div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-10" style="padding-top: 15px;padding-left: 10px;">
                                        <p style="margin-bottom: 0px;">Oleh :&nbsp;<a href="#"><strong>NgodingPython</strong></a></p>
                                        <p class="text-secondary" style="padding-top: 0px;font-size: 12px;margin-bottom: 0px;">Selasa, 15 September 2020</p>
                                        <p class="text-secondary" style="padding-top: 0px;font-size: 12px;margin-bottom: 0px;">Pukul 08:00 WIB</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div style="margin-left: 25px;">
                                <div class="btn-group" role="group"><button class="btn btn-primary border rounded-pill" type="button" style="background: #3591ae;">Update</button><button class="btn btn-danger border rounded-pill" type="button" style="margin-left: 14px;">Hapus</button></div>
                            </div>
                            <div style="padding-left: 20px;padding-bottom: 20px;padding-right: 20px;padding-top: 5px;margin: 10px;">
                                <h4>Judul</h4>
                                <p>Jangan lupa rajin membaca ya</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Menu Cepat</h4>
                            <ul class="list-group">
                                <li class="list-group-item"><span>Post Populer</span></li>
                                <li class="list-group-item"><span>Pengumuman</span></li>
                                <li class="list-group-item"><span>Acara</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>